page-tabs {

}

.fixed-content {
    margin-bottom: 0px !important;
}
.scroll-content {
    margin-bottom: 0px !important;
}

.tabbar {
    height: 40px;
}

.ios .tabbar {
    height: 60px;
    padding-top: 20px;
}