<ion-grid id="detail-grid">
    <img draggable="false" class="restaurant-image" src="https://placeholdit.co//i/350x250?&bg=eee&fc=000000&text=Restaurant Image">
    <ion-row>
        <ion-col>
            <h2><strong>{{ restaurant.name }}</strong></h2>
        </ion-col>
        <button ion-button item-right id="more-button" (click)="getMoreDetail()">
            <ion-icon name="ios-more"></ion-icon>
        </button>
    </ion-row>
    <ion-row>
        <ion-col>
            {{ restaurant.types }} <br>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            {{ restaurant.distance }} mi.
        </ion-col>
        <ion-col>
            {{ symbol }}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            Details
        </ion-col>
        <ion-col>
            Details
        </ion-col>
    </ion-row>
</ion-grid>