.ios {
    .restaurant-hours-popover {
        .popover-content {
            border: 2px solid color($colors, primary);
            margin-top: 32.5% !important;
            width: 85% !important;
            height: 37%;
        }
    }
    .restaurant-reviews-popover {
        .popover-content {
            border: 2px solid color($colors, primary);
            margin-top: 32.5% !important;
            width: 85% !important;
            height: 37%;
        }
    }
}

.md {
    .restaurant-hours-popover {
        .popover-content {
            border: 2px solid color($colors, primary);
            margin-top: 30% !important;
            width: 85% !important;
            height: 37%;
        }
    }
    .restaurant-reviews-popover {
        .popover-content {
            border: 2px solid color($colors, primary);
            margin-top: 30% !important;
            width: 85% !important;
            height: 37%;
        }
    }
}

.wp {
    .restaurant-hours-popover {
        .popover-content {
            border: 2px solid color($colors, primary);
            margin-top: 30% !important;
            width: 85% !important;
            height: 37%;
        }
    }
    .restaurant-reviews-popover {
        .popover-content {
            border: 2px solid color($colors, primary);
            margin-top: 30% !important;
            width: 85% !important;
            height: 37%;
        }
    }
}

#detail-grid {
    padding: 0px;
    height: 100%;
}

#more-button {
    position: absolute;
    right: 0;
    background: transparent;
    padding-right: 5px;
    margin: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.restaurant-image {
    width: 100%;
    height: 50%;
    border: 2px solid black;
    border-radius: 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#more-detail-icon {
    font-size: 30px;
    color: color($colors, primary);
}

#star-number {
    padding-right: 5px;
}

.detail-star-span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-icon {
    padding-left: 2px;
    color: color($colors, primary);
}

.ios #open-status-col {
    padding-top: 4px;
}

#open-status-col {
    padding-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#open-status {
    color: green;
}

#closed-status {
    color: red;
}

#tags-list {
    padding: 0;
    font-size: 1.2rem;
}

#header-col {
    padding-bottom: 0;
}

#hours-button {
    height: 36px;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    width: 100%;
    background: none;
    color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#hours-button :hover {
    border: 1px solid color($colors, primary);
}

#hours-button .button-inner :hover {
    border: none;
}

#hours-button .no-hover :hover {
    border: none !important;
}

#reviews-button {
    height: 28px;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    width: 100%;
    background: none;
    color: blue;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#reviews-button :hover {
    border: 1px solid color($colors, primary);
}

#reviews-button .button-inner :hover {
    border: none;
}

#reviews-button .no-hover :hover {
    border: none !important;
}

.no-hover {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 4px;
}

#more-detail-icon {
    margin: auto;
    position: relative;
    padding-left: 6px;
    font-size: 2.2rem;
}

#reviews-col {
    padding-top: 0;
    padding-bottom: 0;
}

#see-hours {
    padding-top: 2px;
    font-size: 1.2rem;
}