.ios {
    .restaurant-hours-popover {
        .popover-content {
            border: 2px solid color($colors, primary);
            margin-top: 20% !important;
            width: 85% !important;
            height: 37.5%;
        }
    }
}

.md {
    .restaurant-hours-popover {
        .popover-content {
            border: 2px solid color($colors, primary);
            margin-top: 17.5% !important;
            width: 85% !important;
            height: 38%;
        }
    }
}

.wp {
    .restaurant-hours-popover {
        .popover-content {
            border: 2px solid color($colors, primary);
            margin-top: 20% !important;
            width: 85% !important;
            height: 37.5%;
        }
    }
}

.vertical-align-content>* {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    height: 100%;
}

.vertical-align-icon>* {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    justify-content: center !important;
    height: 100%;
}

#detail-grid {
    position: relative;
    width: 100%;
    padding: 0px;
    height: 100%;
}

.restaurant-image {
    width: 100%;
    height: 40%;
    border: 2px solid black;
    border-radius: 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#header-col {
    padding-bottom: 0;
}

#tags-list {
    padding: 0;
    font-size: 1.2rem;
}

#more-detail-icon {
    font-size: 30px;
    color: color($colors, primary);
}

#star-number {
    padding-right: 5px;
}

.star-icon {
    padding-left: 2px;
    color: color($colors, primary);
}

.icon-col {
    padding-left: 0;
    padding-right: 0px;
}

.content-col {
    padding-left: 0;
}

.content-col-inner {
    display: inline-block;
    padding-left: 4px; // vertical-align: middle;
    // height: 100%;
}

.detail-icon {
    color: color($colors, primary);
    font-size: 2.6rem;
}

.ios #open-status-col {
    padding-top: 4px;
}

#open-status-col {
    padding-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#open-status {
    color: green;
}

#closed-status {
    color: red;
}

#hours-button {
    height: 36px;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    width: 100%;
    background: none;
    color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left !important;
}

#hours-button .button-inner {
    justify-content: flex-start;
}

#hours-button :hover {
    border: 1px solid color($colors, primary);
}

#hours-button .button-inner :hover {
    border: none;
}

#hours-button .no-hover :hover {
    border: none !important;
}

.hours-inner>* {
    font-size: 1.3rem;
}

.no-hover {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 4px;
}

#see-hours {
    text-align: center;
    padding-top: 2px;
    font-size: 1.2rem;
}

// Reviews
#reviews-header {
    margin-top: .8rem !important;
}

#reviews-sub-header-row {
    border-bottom: 1px solid color($colors, menu-gray); // text-align: center;
}

#review-header-item .label-ios {
    margin: 0 !important;
}

.review-star-number {
    padding-right: 5px;
}

.review-star-icon {
    padding-left: 2px;
    color: color($colors, primary);
}

.review-avg-star-number {
    font-size: 2.4rem;
    padding-right: 10px;
    padding-left: 5px;
}

.review-avg-star-icon {
    font-size: 2.8rem;
    padding-left: 2px;
    color: color($colors, primary);
}

.rating-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.review-user-avatar {
    width: 45px;
    height: 45px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.review-entry-header {
    padding-top: 10px !important;
    padding-left: 10px !important;
}

.user-review-header {
    height: 100%;
    display: flex;
    font-size: 1.4rem;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.user-review-header-col {
    margin-bottom: 4px;
}

.review-time-detail {
    color: gray;
    font-size: 1.2rem;
}

#reviews-num {
    padding-left: 10px;
    color: gray;
    font-size: 1.6rem;
}

.review-description-col {
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
}

#view-selector {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#review-scroll {
    width: 100%;
    height: 100%;
}

#review-scroll ::-webkit-scrollbar {
    display: none;
}