<ion-grid>
    <ion-row>
        <ion-col col-10>
            <h3>{{ restaurant.name }}</h3>
        </ion-col>
        <ion-col col-2>
            <button ion-button (click)="getMoreDetail()">
          <ion-icon name="more"></ion-icon>
      </button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            {{ restaurant.types }} <br>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            {{ restaurant.distance }} mi.
        </ion-col>
        <ion-col>
            {{ symbol }}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            Details
        </ion-col>
        <ion-col>
            Details
        </ion-col>
    </ion-row>
</ion-grid>