<div swing-stack #swingStack [stackConfig]="stackConfig" (throwoutup)="selectCard(this.displayedRestaurant)" (throwoutleft)="swipeCard(false)"
    (throwoutright)="swipeCard(true)" id="card-stack">
    <ion-card #cardStack swing-card *ngFor="let restaurant of stackList">
        <ion-card-content mode="md">
            <div id="restaurant-detail-wrapper">
                <restaurant-detail [restaurant]="restaurant"></restaurant-detail>
            </div>
        </ion-card-content>
    </ion-card>

</div>
<ion-grid class="button-container">
    <ion-row class="button-row">
        <ion-col col-1></ion-col>
        <ion-col text-center col-2 class="button-col">
            <button mode="md" class="left-right-buttons" id="left-button" ion-button no-shadow (click)="swipeCard(false)">
                <ion-icon id="thumbs-down-icon" mode="md" class="left-right-icons" name="md-thumbs-down"></ion-icon>
            </button>
        </ion-col>
        <ion-col col-1></ion-col>
        <ion-col text-center col-4 class="button-col">
            <button id="select-button" ion-button no-shadow (click)="selectCard(this.displayedRestaurant)">
                <ion-icon id="check-mark-icon" name="ios-checkmark"></ion-icon>
            </button>
        </ion-col>
        <ion-col col-1></ion-col>
        <ion-col text-center col-2 class="button-col">
            <button mode="md" class="left-right-buttons" id="right-button" ion-button no-shadow (click)="swipeCard(true)">
                <ion-icon mode="md" class="left-right-icons" name="md-thumbs-up"></ion-icon>
            </button>
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

    <!-- <button id="select-button" ion-button no-shadow (click)="selectCard(this.displayedRestaurant)">
        <ion-icon id="check-mark-icon" name="ios-checkmark"></ion-icon>
    </button> -->

</ion-grid>
<button *ngIf="showPlayButton" text-center id="play-button" class="bottom" (click)="generateRestaurants()">Generate Restaurants</button>
<button (click)="test()">Test</button>