$background : #DBC996;

.restaurant-slides {

    height: 100%;
    border-color: #000000;
    border-style: solid;
    background-color: $background;
}

.bottom {
    margin: auto;
    display: block;
    position: relative;

  }

  #play-button {
    width: 20vw;
    height: 5vh;
  }

  #card-stack {
    width: 90%;
    height: 400px;
    background: #BD3A06;
    border: 10px solid #000000;
    margin: 100px auto 0;
    position: relative;
  }
 
  #card-stack ion-card {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 3%;
    height: 90%;
  }