<ion-content no-bounce>
    <div swing-stack #swingStack [stackConfig]="stackConfig" (throwoutleft)="swipeCard(false)" (throwoutright)="swipeCard(true)"
        id="card-stack">
        <ion-card #cardStack swing-card *ngFor="let restaurant of stackList">
            <ion-card-content>
                <ion-grid id="restaurant-detail-wrapper">
                    <restaurant-detail [restaurant]="restaurant"></restaurant-detail>
                    <div class="button-container">
                        <ion-row class="button-row">
                            <ion-col col-5 class="button-col">
                                <button class="left-right-buttons" id="left-button" ion-button no-shadow (click)="swipeCard(false)">
                                    <ion-icon class="button-row-icons" name="arrow-dropleft"></ion-icon>
                                </button>
                            </ion-col>
                            <ion-col>
    
                            </ion-col>
                            <ion-col col-5 class="button-col">
                                <button class="left-right-buttons" id="right-button" ion-button no-shadow (click)="swipeCard(true)">
                                    <ion-icon class="button-row-icons" name="arrow-dropright"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                        
                        <button id="select-button" ion-button no-shadow (click)="selectCard(restaurant)">
                            <ion-icon class="button-row-icons" name="checkmark-circle-outline"></ion-icon>
                        </button>
                            
                    </div>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>
    <button id="play-button" class="bottom" (click)="generateRestaurant()">Generate Restaurants</button>
</ion-content>